<template>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard</h4> </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="javascript:void(0)">Periode Maret 2017</a></li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="row row-in">
                            <div class="col-lg-3 col-sm-6 row-in-br">
                                <ul class="col-in">
                                    <li>
                                        <span class="circle circle-md bg-danger"><i class="ti-clipboard"></i></span>
                                    </li>
                                    <li class="col-last">
                                        <h3 class="counter text-right m-t-15">70</h3>
                                    </li>
                                    <li class="col-middle">
                                        <h4>Total Patience</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
                                <ul class="col-in">
                                    <li>
                                        <span class="circle circle-md bg-info"><i class="ti-wallet"></i></span>
                                    </li>
                                    <li class="col-last">
                                        <h3 class="counter text-right m-t-15">34</h3>
                                    </li>
                                    <li class="col-middle">
                                        <h4>Senior Patience</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-6 row-in-br">
                                <ul class="col-in">
                                    <li>
                                        <span class="circle circle-md bg-success"><i class=" ti-shopping-cart"></i></span>
                                    </li>
                                    <li class="col-last">
                                        <h3 class="counter text-right m-t-15">14</h3>
                                    </li>
                                    <li class="col-middle">
                                        <h4>Adult Patience</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-sm-6  b-0">
                                <ul class="col-in">
                                    <li>
                                        <span class="circle circle-md bg-warning"><i class="fa fa-dollar"></i></span>
                                    </li>
                                    <li class="col-last">
                                        <h3 class="counter text-right m-t-15">22</h3>
                                    </li>
                                    <li class="col-middle">
                                        <h4>Children/Youth Patience</h4>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">Trendline Patience</h3>
                        <div id="container" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center"> 2018 &copy; Klinik.in </footer>
        </div>
    </div>
    
</template>

<script>
    export default {
        mounted() {
            Highcharts.chart('container', {
                xAxis: {
                    type: 'datetime'
                },
                  title:{
                    text:''
                },
                series: [{
                    name:'Senior Patience',
                    data: [
                        [Date.UTC(2010, 0, 1), 7],
                        [Date.UTC(2010, 0, 2), 7],
                        [Date.UTC(2010, 0, 3), 5],
                        [Date.UTC(2010, 0, 6), 5],
                        [Date.UTC(2010, 0, 7), 2],
                        [Date.UTC(2010, 0, 8), 8]
                    ],
                    color:'#2cabe3'
                },
                {
                    name:'Adult Patience',
                    data: [
                        [Date.UTC(2010, 0, 1), 2],
                        [Date.UTC(2010, 0, 2), 0],
                        [Date.UTC(2010, 0, 3), 4],
                        [Date.UTC(2010, 0, 6), 1],
                        [Date.UTC(2010, 0, 7), 2],
                        [Date.UTC(2010, 0, 8), 5]
                    ],
                    color:'#53e69d '
                },
                 {
                    name:'Children/Youth Patience',
                    data: [
                        [Date.UTC(2010, 0, 1), 4],
                        [Date.UTC(2010, 0, 2), 5],
                        [Date.UTC(2010, 0, 3), 1],
                        [Date.UTC(2010, 0, 6), 7],
                        [Date.UTC(2010, 0, 7), 3],
                        [Date.UTC(2010, 0, 8), 2]
                    ],
                    color:'#ffc36d'
                }]

                });
        }
    }
</script>

