<style scoped>
    .navbar-top-links > li > a {
        color: #f9f6f6;
    }
    .openReg {
        background: #065e52;
    }
    #btn_openReg {
        color: #fff;
    }

    .label-container
    {
        position:fixed;
        bottom:48px;
        right:105px;
        display:table;
        visibility: hidden;
    }

    .label-text{
        color:#FFF;
        background:rgba(51,51,51,0.5);
        display:table-cell;
        vertical-align:middle;
        padding:10px;
        border-radius:3px;
    }

    .label-arrow{
        display:table-cell;
        vertical-align:middle;
        color:#333;
        opacity:0.5;
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#065e52;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        z-index:1000;
        animation: bot-to-top 2s ease-out;
    }

    ul{
        position:fixed;
        right:40px;
        padding-bottom:20px;
        bottom:80px;
        z-index:100;
    }

    ul li{
        list-style:none;
        margin-bottom:10px;
    }

    ul li a{
        background-color:#065e52;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        width:60px;
        height:60px;
        display:block;
    }

    ul li a:hover{
        background-color:#000;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        width:60px;
        height:60px;
        display:block;
    }

    ul:hover{
        visibility:visible!important;
        opacity:1!important;
    }

    .daft{
       background-color:#fff!important;
       color: #000!important;
    }


    .my-float{
        font-size:24px;
        margin-top:18px;
    }

    a#menu-share + ul{
      visibility: hidden;
    }

    a#menu-share:hover + ul{
      visibility: visible;
      animation: scale-in 0.5s;
    }

    a#menu-share i{
        animation: rotate-in 0.5s;
    }

    a#menu-share:hover > i{
        animation: rotate-out 0.5s;
    }

    @keyframes bot-to-top {
        0%   {bottom:-40px}
        50%  {bottom:40px}
    }

    @keyframes scale-in {
        from {transform: scale(0);opacity: 0;}
        to {transform: scale(1);opacity: 1;}
    }

    @keyframes rotate-in {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }

    @keyframes rotate-out {
        from {transform: rotate(360deg);}
        to {transform: rotate(0deg);}
    }
</style>
<template>
   <div id="page-wrapper">
        <a href="#" class="float" id="menu-share">
            <i class="fa fa-navicon my-float"></i>
        </a>
        <ul>
            <li><a href="#" data-toggle="modal" data-target="#modalAddAntrian" data-whatever="@getbootstrap" title="Add New" data-placement = "left" v-on:click="genarteDataPasien">
            <i class="fa fa-plus my-float" ></i>
            </a></li>
            <li><a href="#" data-toogle = "tooltip" title="Antrian Selanjutnya" data-placement = "left">
            <i class="fa fa-toggle-right my-float" v-on:click="next"></i>
            </a></li>
            <li><a href="#" data-toggle="modal" data-target="#modalSettingAntrian" data-whatever="@getbootstrap" title="Setting" data-placement = "left" v-on:click="generateDataSetting">
            <i class="fa fa-wrench my-float"></i>
            </a></li>
        </ul>

        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <button id="btn_next" class="btn btn-primary waves-effect waves-light" type="button" v-on:click="next" style="display:none">
                        <span class="btn-label"><i class="ti ti-arrow-circle-right"></i></span>
                        <span id="labelAntrian">Mulai Antrian</span>
                    </button>
                    
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <a id="btn_openReg" class="btn openReg pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" v-on:click="regis">Open Registration</a>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                      
                        <div id="table-antrian" class="table-responsive" style="display:none">
                            <table class="table" style="margin-top: 20px">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">NAMA</th>
                                        <th class="text-center">ALAMAT</th>
                                        <th class="text-center">UMUR</th>
                                        <th class="text-center">JENIS KELAMIN </th>
                                        <th class="text-center">CONTACT PERSON</th>
                                        <th class="text-center">STATUS PEMERIKSAAN</th>
                                        <th class="text-center">WAKTU TUNGGU</th>
                                        <th class="text-center">MANAGE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="antrian in resultsAntrian" class = "pointer" :data-id="antrian.id">
                                        <td width="5%" class="text-center">{{antrian.id}}</td>
                                        <td width="14%"><span class="font-medium">{{antrian.nama}}</span></td>
                                        <td width="23%">{{antrian.alamat}}</td>
                                        <td width="7%" class="text-center">{{antrian.umur}} Tahun</td>
                                        <td width="10%" class="text-center">{{antrian.jenis_kelamin}}</td>
                                        <td width="8%" class="text-center">{{antrian.no_hp}}</td>
                                        <td width="11%" class="text-center">{{antrian.status}}</td>
                                        <td width="7%" class="text-center"></td>
                                        <td width="20%" class="text-center">
                                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-user"></i></button>
                                            <a class="btn btn-info btn-outline btn-circle btn-lg m-r-5" href="#" data-toggle="modal" data-target="#modalEditAntrian" data-whatever="@getbootstrap" title="Add New" data-placement = "left" v-on:click="generateEditAntrian(antrian.id)"><i class="ti-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>

         <div class="modal fade bs-example-modal-lg" id="modalAddAntrian" role="dialog" aria-labelledby="modalAddAntrianLabel1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalAddAntrianLabel1">Tambah Pendaftar</h4> </div>
                    <div class="modal-body">
                        <form>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Identitas Diri (KTP/Email):</label>
                                    <select class="form-control daft select2" id="daftarIdPasien">
                                        <option v-for="identitas in resultsId" :value="identitas.identitas_diri" class="identitasClass">{{identitas.identitas_diri}}</option>
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Nama:</label>
                                    <select class="form-control daft select2" id="daftarNamaPasien" v-model="nama">
                                       <option v-for="namas in resultsNama" :value="namas.nama">{{namas.nama}}</option>
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">No HP:</label>
                                     <input type="text" class="form-control daft" id="recipient-name1" v-model="no_hp">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Jenis Kelamin:</label>
                                     <select class="form-control daft select2" id="daftarJenisKelamin">
                                        <option value="Laki-Laki"> Laki-Laki </option>
                                        <option value="Perempuan"> Perempuan </option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Tempat Lahir:</label>
                                     <input type="text" v-model="tempat_lahir" class="form-control daft" id="recipient-name1">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Tanggal Lahir(yyyy/mm/dd):</label>
                                     <input type="text" class="form-control daft" id="recipient-name1" v-model="tanggal_lahir">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Alamat:</label>
                                    <textarea class="form-control daft" v-model="alamat" rows="5"></textarea>  
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary waves-effect waves-light" type="button" v-on:click="addAntrian">
                        <span class="btn-label"><i class="fa fa-plus"></i></span>
                        <span id="labelAntrian">Tambah</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-sm" id="modalSettingAntrian" role="dialog" aria-labelledby="modalSettingAntrianLabel1">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalSettingAntrianLabel1">Setting Antrian</h4> </div>
                    <div class="modal-body">
                        <label class="m-t-40">Waktu Pembukaan Pendaftaran</label>
                         <div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control daft" value="13:14" v-model="jam_buka"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Waktu Tunggu (Menit)</label>
                             <input type="text" class="form-control daft" id="recipient-name1" v-model="waktu_tunggu">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Batas Pasien (Orang) </label>
                             <input type="text" class="form-control daft" id="recipient-name1" v-model="batas_pasien">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary waves-effect waves-light" type="button" v-on:click="settingAntrian">
                        <span class="btn-label"><i class="fa fa-wrench"></i></span>
                        <span id="labelAntrian">Set</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>    

        <div class="modal fade bs-example-modal-sm" id="modalEditAntrian" role="dialog" aria-labelledby="modalEditAntrianLabel1">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalEditAntrianLabel1">Edit Antrian</h4> </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="control-label">Diagnosa Dokter</label>
                            <textarea class="form-control daft" rows="5" v-model="diagnosaEdit"></textarea>  
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Catatan Dokter</label>
                            <textarea class="form-control daft" rows="5" v-model="catatanEdit"></textarea>  
                        </div>    
                        <div class="form-group">
                            <label for="message-text" class="control-label">Status Pemeriksaan:</label>
                             <select class="form-control daft select2" id="daftarStatus" v-model="statusEdit">
                                <option value="SEDANG DIPERIKSA"> SEDANG DIPERIKSA </option>
                                <option value="SELESAI"> SELESAI </option>
                                <option value="MENUNGGU"> MENUNGGU </option>
                                <option value="BATAL"> BATAL </option>
                             </select>
                        </div>                    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary waves-effect waves-light" type="button" v-on:click="editAntrian">
                        <span class="btn-label"><i class="fa fa-wrench"></i></span>
                        <span id="labelAntrian">Set</span>
                    </button>
                    </div>
                </div>
            </div>
        </div>    



    </div>



</template>

<script>
    import axios from 'axios';
    
    export default {
        data() {
            return {
              identitas_diri:'',
              last_id:0,
              nama:'',
              alamat:'',
              umur:'',
              jenis_kelamin:'',
              no_hp:'',
              tempat_lahir:'',
              tanggal_lahir:'',
              counterAntrian: 0,
              counter:0,
              message:'',
              time0:'',
              idEdit:'',
              statusAntrian:'',
              statusEdit:'', 
              diagnosaEdit:'', 
              catatanEdit:'',
              jam_buka:'',
              waktu_tunggu:'',
              batas_pasien:0,
              resultsAntrian:[],
              resultsNama:[],
              resultsId:[]
            };
        },
        mounted() {
            
            console.log('Component mounted.')
            this.generateDataSetting()
            this.getStatusAntrian();
            if ($("#daftarNamaPasien").length > 0) {
                $("#daftarNamaPasien").select2();
                $("#daftarIdPasien").select2();
                $("#daftarJenisKelamin").select2();
                $("#daftarStatus").select2();
                $('.clockpicker').clockpicker({
                    donetext: 'Done',
                }).find('input').change(function() {
                    console.log(this.value);
                });
            }
            
        }, 
        created() {
            // Jika mau private chanel ganti menjadi Echo.private
            Echo.channel('chat').listen('MessageSent', (e) => {
                this.afterPush(e.antrianbaru)
            });
        },
        methods: {
            afterPush(param) {
                if (param=="antrianbaru") {
                    this.getAntrian()
                    this.getStatusAntrian()
                }
                else if (param=="nextantrian"){
                    this.getStatusAntrian()
                }
            },
            showOpenReg() {
                var ini = this;
                swal({   
                    title: "Buka Pendaftaran Pasien?",   
                    text: "Kamu akan mengijinkan pasien untuk mendaftar!",   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmButtonColor: "#DD6B55",   
                    confirmButtonText: "Ya",   
                    cancelButtonText: "Tidak, Jangan Sekarang!",   
                    closeOnConfirm: false,   
                    closeOnCancel: false 
                }, function(isConfirm){   
                    if (isConfirm) {     
                        swal("Success", "Pendaftaran Pasien Berhasil Dibuka", "success");
                        $('#btn_openReg').html('Close Registration');
                        $('#btn_openReg').css('background','#f50057');
                        $('#btn_next').show();
                        ini.openAntrian();
                        ini.getAntrian();
                        $('#table-antrian').show();
                    } else {     
                        swal("Cancelled", "Pendaftaran Pasien Belum Dibuka", "error");   
                    } 
                });
            },
            showCloseReg() {
                var ini = this;
                swal({   
                    title: "Tutup Pendaftaran Pasien?",   
                    text: "Kamu akan menutup pendaftaran pasien!",   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmfButtonColor: "#DD6B55",   
                    confirmButtonText: "Ya",   
                    cancelButtonText: "Tidak, Jangan Sekarang!",   
                    closeOnConfirm: false,   
                    closeOnCancel: false 
                }, function(isConfirm){   
                    if (isConfirm) {     
                        swal("Success", "Pendaftaran Pasien Berhasil Ditutup", "success");
                        $('#btn_openReg').html('Open Registration'); 
                        $('#btn_openReg').css('background','#065e52');
                        $('#btn_next').hide();
                        ini.closeAntrian();
                        $('#table-antrian').hide();
                    } else {     
                        swal("Cancelled", "Pendaftaran Pasien Masih Dibuka", "error");  
                        
                    } 
                });
            },
            regis() {
               if ($('#btn_openReg').text()=="Close Registration"){
                    this.showCloseReg();
               }
               else {
                    this.showOpenReg();
               }
            },
            next() {

                var ini = this;
                swal({   
                    title: "Mulai Antrian Selanjutnya?",   
                    text: "Kamu akan memilih antrian selanjutnya!",   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmfButtonColor: "#DD6B55",   
                    confirmButtonText: "Ya",   
                    cancelButtonText: "Tidak, Jangan Sekarang!",   
                    closeOnConfirm: false,   
                    closeOnCancel: false 
                }, function(isConfirm){   
                    if (isConfirm) {     
                        swal("Success", "Antrian selanjutnya berhasil", "success");
                        $('#labelAntrian').html('Antrian Selanjutnya'); 
                        $('.pointer[data-id=' + ini.counterAntrian + ']').removeClass('success');
                        console.log(ini.counterAntrian)
                        var skip = ini.counterAntrian +=1;
                        $('.pointer[data-id=' + skip + ']').addClass('success');
                        console.log(skip);
                        ini.setCounterAntrian();
                        this.time0 = setTimeout(ini.getAntrian(), 800);
                    } else {     
                        swal("Cancelled", "Pendaftaran Pasien Masih Dibuka", "error");  
                        
                    } 
                });

               
            },
            setCounterAntrian() {
                axios.post("/api/setCounterAntrian", {
                  pointer: this.counterAntrian,
                })
                .then(
                  response => {this.counterAntrian = response.data.pointer},  
                  )
                .catch(e => {
                this.errors.push(e)
                });
            },
            openAntrian() {
                axios.get("/api/openAntrian")
                .then(
                  response => {
                    this.statusAntrian = response.data.statusAntrian},  
                  )
                .catch(e => {
                this.errors.push(e)
                });
            },
            getStatusAntrian() {
                axios.get("/api/getStatusAntrian")
                .then(
                  response => {
                    this.statusAntrian = response.data.statusAntrian,
                    this.counterAntrian = response.data.pointer},  
                  )
                .catch(e => {
                    this.errors.push(e)
                });
                this.time0 = setTimeout(this.firstAction, 1000);
            },
            firstAction() {
                if (this.statusAntrian == 'open') {
                    $('#table-antrian').show();
                    this.getAntrian();
                    $('#btn_openReg').html('Close Registration');
                    $('#btn_openReg').css('background','#f50057');
                    $('#btn_next').show();

                }
                if (this.counterAntrian>0) {
                    $('#labelAntrian').html('Antrian Selanjutnya');
                    var ini = this;
                    var delayInMilliseconds = 1000; //1 second
                    $('.pointer[data-id=' + (ini.counterAntrian-1) + ']').removeClass('success');
                    setTimeout(function() {
                        //alert(ini.counterAntrian);

                        $('.pointer[data-id=' + ini.counterAntrian + ']').addClass('success');
                    }, delayInMilliseconds);
                    
                } 
            },
            getAntrian() {
                axios.get("/api/antrian")
                .then(
                  response => {this.resultsAntrian = response.data.antrian},  
                  )
                .catch(e => {
                this.errors.push(e)
                });
            // this.timeO = setTimeout(this.getAntrian, 1000);
          },
          closeAntrian() {
            this.statusAntrian = 'close';
            axios.get("/api/closeantrian")
            .then(
              response => {this.message = response.data.message},  
              )
            .catch(e => {
            this.errors.push(e)
            });
            clearTimeout(this.timeO);
          },
          genarteDataPasien() {
            var ini = this;
            $(document.body).on("change","#daftarIdPasien",function(){
                var value = $('#daftarIdPasien').val();
                ini.generateById(value);
            });
            $(document.body).on("change","#daftarNamaPasien",function(){
                var value = $('#daftarNamaPasien').val();
                ini.generateByNama(value);
            });
            this.getNama();
            this.getId();

          },
          getNama() {
            axios.get("/api/getnama")
            .then(
              response => {
                this.resultsNama = response.data.nama},  
              )
            .catch(e => {
            this.errors.push(e)
            });
            clearTimeout(this.timeO);
          }, 
          getId() {
            axios.get("/api/getid")
            .then(
              response => {
                this.resultsId = response.data.id},  
              )
            .catch(e => {
            this.errors.push(e)
            });
            clearTimeout(this.timeO);
          },
          generateById(value) {
            axios.post("/api/getpasienid", {
              identitas_diri: value,
            })
            .then(
              response => {
                this.identitas_diri = response.data.pasien.identitas_diri,
                this.nama = response.data.pasien.nama,
                this.no_hp = response.data.pasien.no_hp,
                this.alamat = response.data.pasien.alamat, 
                this.jenis_kelamin = response.data.pasien.jenis_kelamin, 
                this.tempat_lahir = response.data.pasien.tempat_lahir,
                this.tanggal_lahir = response.data.pasien.tanggal_lahir, 
                this.last_id = response.data.last.id
                },  
              )
            .catch(e => {
            this.errors.push(e)
            });
            this.time0 = setTimeout(this.afterGenerate, 700);
          },
          generateByNama(value) {
            axios.post("/api/getpasiennama", {
              nama: value,
            })
            .then(
              response => {
                this.identitas_diri = response.data.pasien.identitas_diri,
                this.nama = response.data.pasien.nama,
                this.no_hp = response.data.pasien.no_hp,
                this.alamat = response.data.pasien.alamat, 
                this.jenis_kelamin = response.data.pasien.jenis_kelamin, 
                this.tempat_lahir = response.data.pasien.tempat_lahir,
                this.tanggal_lahir = response.data.pasien.tanggal_lahir,
                this.last_id = response.data.last.id
                },  
              )
            .catch(e => {
            this.errors.push(e)
            });
            this.time0 = setTimeout(this.afterGenerate, 700);
          },

          afterGenerate() {
            $('#daftarIdPasien').val(this.identitas_diri).trigger('change.select2');
            $('#daftarNamaPasien').val(this.nama).trigger('change.select2');
            $('#daftarJenisKelamin').val(this.jenis_kelamin).trigger('change.select2');
          },

          addAntrian() {
            
            if (this.batas_pasien>this.last_id) {
                var ini = this;
                swal({   
                    title: "Tambah Antrian Pasien?",   
                    text: "Kamu akan menambah antrian pasien!",   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmfButtonColor: "#DD6B55",   
                    confirmButtonText: "Ya",   
                    cancelButtonText: "Tidak, Jangan Sekarang!",   
                    closeOnConfirm: false,   
                    closeOnCancel: false 
                }, function(isConfirm){   
                    if (isConfirm) {     
                        swal("Success", "Tambah Pasien Berhasil", "success");
                        axios.post("/api/addantrian", {
                        identitas_diri: ini.identitas_diri,
                        nama : ini.nama,
                        no_hp : ini.no_hp,
                        alamat : ini.alamat, 
                        jenis_kelamin : ini.jenis_kelamin, 
                        tempat_lahir : ini.tempat_lahir,
                        tanggal_lahir : ini.tanggal_lahir
                        })
                        .then(
                          response => {

                            },  
                          )
                        .catch(e => {
                        this.errors.push(e)
                        });
                        ini.getAntrian()

                    } else {     
                        swal("Cancelled", "Pendaftaran Pasien Masih Dibuka", "error");  
                        
                    } 
                });

                ini.time0 = setTimeout(ini.getAntrian(), 500);
            }
            else {
                swal("Pendaftaran Sudah Penuh", "Jumlah pasien tidak dapat ditambah lagi, silakan lakukan perubahan batas pasien di menu setting untuk melakukan pengaturan", "error")
            }
            

          },
          generateDataSetting() {
            axios.get("/api/getdatasetting")
            .then(
              response => {
                 this.jam_buka = response.data.setting.jam_buka,
                 this.waktu_tunggu = response.data.setting.waktu_tunggu,
                 this.batas_pasien = response.data.setting.batas_pasien
                },  
              )
            .catch(e => {
            this.errors.push(e)
            });

          },
          settingAntrian() {
            var ini = this;
            swal({   
                title: "Ubah Pengaturan Antrian?",   
                text: "Kamu akan mengubah pengaturan antrian pasien!",   
                type: "warning",   
                showCancelButton: true,   
                confirmfButtonColor: "#DD6B55",   
                confirmButtonText: "Ya",   
                cancelButtonText: "Tidak, Jangan Sekarang!",   
                closeOnConfirm: false,   
                closeOnCancel: false 
            }, function(isConfirm){   
                if (isConfirm) {     
                    swal("Success", "Ubah Pengaturan Berhasil", "success");
                    axios.post("/api/settingantrian", {
                      jam_buka:this.jam_buka, 
                      batas_pasien:this.batas_pasien, 
                      waktu_tunggu:this.waktu_tunggu
                    })
                    .then(
                      response => {
                            console.log(response)
                        },  
                      )
                    .catch(e => {
                    this.errors.push(e)
                    });

                } else {     
                    swal("Cancelled", "Pendaftaran Pasien Masih Dibuka", "error");  
                    
                } 
            });
          },
          generateEditAntrian(id) {
            this.idEdit = id
            axios.post("/api/geteditantrian", {
              id: id,
            })
            .then(
              response => {
                this.catatanEdit = response.data.pendaftaran.catatan, 
                this.diagnosaEdit = response.data.pendaftaran.diagnosa,
                this.statusEdit = response.data.pendaftaran.status

                },  
              )
            .catch(e => {
            this.errors.push(e)
            });
            this.time0 = setTimeout(this.afterGenerateEdit, 700);
          },
          afterGenerateEdit() {
            console.log(this.statusEdit);
            $('#daftarStatus').val(this.statusEdit).trigger('change.select2')
          },
          editAntrian() {
            var ini = this;
            swal({   
                title: "Edit Antrian Pasien?",   
                text: "Kamu akan mengedit antrian pasien!",   
                type: "warning",   
                showCancelButton: true,   
                confirmfButtonColor: "#DD6B55",   
                confirmButtonText: "Ya",   
                cancelButtonText: "Tidak, Jangan Sekarang!",   
                closeOnConfirm: false,   
                closeOnCancel: false 
            }, function(isConfirm){   
                if (isConfirm) {     
                    swal("Success", "Edit Antrian Pasien Berhasil", "success");
                    ini.statusEdit = $('#daftarStatus').val();
                    axios.post("/api/editantrian", {
                        id: ini.idEdit,
                        status:ini.statusEdit, 
                        catatan:ini.catatanEdit, 
                        diagnosa:ini.diagnosaEdit
                    })
                .then(
                response => {console.log(response)},)
            .catch(e => {
                this.errors.push(e)
            });

                ini.getAntrian()

                } 
                else 
                {     
                swal("Cancelled", "Pendaftaran Pasien Masih Dibuka", "error");}});

          },
          clear() {
            alert("aya");
          }

        }
    }
</script>

